.header__lang-link {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 28px;
  width: 30px;
  align-self: end;
  text-align: center;
  background-color: rgb(177, 240, 135);
}

@media screen and (max-width: 320px) {

  /* стили для малого смартфона */
  .header__lang-link {
    height: 20px;
    width: 22px;
  }
}