.page {
  margin: 0 0 0 0;
  padding: 28px 0 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  /* max-width: 1280px; */
  max-height: max-content;
  background-color: #2A2C2F;
  color: #FFFFFF;
  width: 100%;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .page {}

}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .page {}
}

@media screen and (max-width: 320px) {

  /* стили для малого смартфона */
  .page {
    padding: 16px 0 0 0;
    height: max-content;

  }
}