.photo-grid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  max-width: 1184px;
  min-height: 671px;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .photo-grid {
    min-height: 942px;
    max-width: 928px;


  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .photo-grid {
    min-height: 1664px;
    max-width: 720px;

  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    min-height: 2724px;
    /* height: max-content; */
    max-width: 288px;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    /* gap: 0px; */

    /* height: 216px;
    width: 288px; */
  }
}