.places {
  padding: 92px 0 92px 0;
  margin: 0 auto 0 auto;
  max-width: 984px;
  min-height: 3392px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .places {
    min-height: 3292px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .places {
    min-height: 2808px;
    max-width: 720px;
    padding: 88px 0 94px 0;
  }
}

@media screen and (max-width: 590px) {
  .places {
    padding: 64px 0 66px 0;
    max-width: 320px;
    min-height: 5177px;
    box-sizing: content-box;
  }
}