.places {
  padding: 92px 0 92px 0;
  margin: 0 auto 0 auto;
  width: 984px;
  height: min-content;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .places {
    min-height: 3292px;
    width: 928px;


  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .places {
    min-height: 2808px;
    width: 720px;
    padding: 88px 0 90px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 66px 0;
    /* height: min-content; */
    width: 320px;
    /* height: 5177px; */
    height: max-content;
    box-sizing: content-box;
  }
}