/* .footer__links {
  padding: 0 0 0 0;
  margin: auto;
  width: 1184px;
  height: 18px;
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px 1fr;
  justify-items: end;
  background-color: cadetblue;
} */

/* @media screen and (max-width: 320px) {
  .footer__links {
    height: 310px;
    width: 186px;
  }
} */