.footer__nave {
  padding: 0;
  margin: 0;
  max-width: 1184px;
  min-height: 18px;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(5, min-content) 1fr;
}

@media screen and (max-width: 1024px) {


  .footer__nave {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {


  .footer__nave {
    max-width: 720px;

  }
}

@media screen and (max-width: 590px) {
  .footer__nave {

    margin: 0;
    /* min-height: 310px; */
    width: min-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
  }
}