.lead {
  padding: 56px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 984px;
  /* min-height: min-content; */
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .lead {

    max-width: 928px;
    padding: 48px 0 0 0;
  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .lead {

    width: 100%;
  }
}