.photo-grid__item {
  min-height: 213px;
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .photo-grid__item {
    min-height: 225px;
    max-width: 300px;


  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .photo-grid__item {
    min-height: 264px;
    max-width: 352px;


  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    /* max-width: 100%; */
    min-height: 216px;
    max-width: 288px;

  }
}