.header {
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  justify-items: end;
  min-height: 52px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 320px) {

  /* стили для малого смартфона */
  .header {
    min-height: 42px;
    max-width: 288px;
  }
}