.place__paragraph {
  padding: 0;
  margin: 0;
  max-width: 484px;

  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  align-self: start;
  grid-area: place__paragraph;

}

.place .place__paragraph:nth-of-type(2) {
  grid-area: place__paragraph-2;
  margin: 25px 0 0 0;


}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {


  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;

  }
}

@media screen and (max-width: 768px) {


  .place .place__paragraph:nth-of-type(2) {
    grid-area: place__paragraph-2;
    margin: 25px 0 0 0;
  }
}

/* @media screen and (max-width: 768px) {

  .place .place__paragraph:nth-of-type(2) {
    grid-area: place__paragraph-2;
    line-height: 26px;
    font-size: 16px;
    max-width: 352px;
  }
} */




@media screen and (max-width: 590px) {
  .place__paragraph {

    max-width: 288px;
    line-height: 26px;
    margin: 32px 16px 0 16px;


  }
}

@media screen and (max-width: 590px) {


  .place .place__paragraph:nth-of-type(2) {
    grid-area: place__paragraph-2;
    margin: 24px 0 0 0;
  }
}

/* @media screen and (max-width: 590px) {

  .place .place__paragraph:nth-of-type(2) {

    max-width: 288px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    
    text-align: left;
    box-sizing: border-box;
    line-height: 26px;
    margin: 0 16px 0 16px;

  }
} */