.lead__image {
  padding: 0 0 8px 0;
  margin: 0 0 0 0;
  max-height: 615px;
  width: 984px;
  /* height: 100%;
  width: 100%; */

}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .lead__image {
    height: 580px;
    width: 928px;
  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .lead__image {
    height: 480px;
    width: 768px;


  }
}

@media screen and (max-width: 320px) {

  /* стили для малого смартфона */
  .lead__image {
    max-height: 200px;
    width: 320px;
  }
}