.place__link {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration-line: underline;
  color: #FFFFFF;
  background-color: darkgreen;
  /* width: max-content; */
}

@media screen and (max-width: 320px) {
  .place__link {
    height: 22px;
    width: 288px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}