.intro__text {
  padding: 0 0 0 0;
  width: 690px;
  min-height: 208px;
  /* margin-bottom: 33px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .intro__text {}
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .intro__text {
    height: 208px;
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    min-height: 520px;
    width: 288px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 34px 0;

  }

}