.cover {
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
  max-width: 1184px;
  min-height: 740px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;

}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .cover {
    min-height: 640px;
    max-width: 1024px;

  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .cover {
    min-height: 480px;
    max-width: 768px;

  }
}

@media screen and (max-width: 590px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
  }
}