.place__link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration-line: underline;
  color: #FFFFFF;
  width: min-content;
}

.place__link:hover {
  opacity: 80%;
}


@media screen and (max-width: 768px) {

  /* стили для планшета */
  .place__link {
    min-height: 22px;
  }
}

@media screen and (max-width: 560px) {
  .place__link {
    max-width: 288px;
    text-align: left;
  }
}