.cover__overlay {
  height: 740px;
  width: 100%;

  position: absolute;
  background: #2A2C2F;
  /* opacity: 0.3; */
  opacity: 30%;
}

.cover__overlay:hover {
  /* background-color: #2A2C2F; */
  opacity: 70%;

}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .cover__overlay {
    height: 640px;
    /* width: 1024px; */

  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .cover__overlay {
    height: 480px;
    /* width: 768px; */

  }
}

@media screen and (max-width: 360px) {
  .cover__overlay {
    height: 200px;
    /* width: 320px; */
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    height: 200px;
    /* width: 320px; */
  }
}