.cover__title {
  padding: 0;
  margin: 245px 0 32px 0;
  min-height: 152px;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0em;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .cover__title {
    margin: 195px 0 32px 0;
    position: relative;
  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .cover__title {
    margin: 115px 0 32px 0;
  }
}

@media screen and (max-width: 590px) {
  .cover__title {
    margin: 33px 0 16px 0;
    min-height: 70px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}