.place {
  padding: 80px 0 0 0;
  max-width: 984px;
  min-height: 584px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  box-sizing: border-box;

  grid-template-areas:
    "place__title  ."
    "place__title place__website"
    "place__image place__paragraph"
}

.place:nth-of-type(1) {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .place {
    max-width: 928px;
    gap: 32px;

  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .place {

    min-height: min-content;
    max-width: 720px;
    gap: 28px;
    padding: 73px 0 0 0;
  }

}

@media screen and (max-width: 768px) {
  .place:nth-of-type(2) {
    grid-template-rows: minmax(46px, min-content) 1fr;
    padding: 73px 0 0 0;
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph"
  }
}

@media screen and (max-width: 768px) {
  .place:nth-of-type(3) {
    grid-template-rows: minmax(46px, min-content) min-content;
    padding: 73px 0 0 0;
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph"
  }
}

@media screen and (max-width: 768px) {
  .place:nth-of-type(4) {

    padding: 68px 0 0 0;
    grid-template-rows: minmax(46px, min-content) min-content;

    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph"
  }
}

@media screen and (max-width: 768px) {
  .place:nth-of-type(5) {
    grid-template-rows: minmax(46px, min-content) min-content;
    padding: 68px 0 0 0;
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph"
  }
}

@media screen and (max-width: 590px) {
  .place {
    gap: 32px;
    min-height: 964px;
    max-width: 320px;
    padding: 0 0 0 0;
    box-sizing: content-box;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 46px min-content 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(1) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(2) {
    padding: 50px 0 0 0;
    grid-template-rows: 35px 46px min-content max-content;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";

  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(3) {
    padding: 50px 0 0 0;
    grid-template-rows: 35px 46px min-content max-content;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(4) {
    padding: 50px 0 0 0;
    grid-template-rows: 35px 46px min-content max-content;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(5) {
    padding: 50px 0 0 0;
    grid-template-rows: 35px 46px min-content max-content;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph";

  }
}

/* @media screen and (max-width: 590px) {
  .place:nth-of-type(2) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(3) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(4) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 590px) {
  .place:nth-of-type(5) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    justify-items: center;
  }
} */