.footer {
  padding: 92px 0 24px 0;
  margin: auto;
  max-width: 1184px;
  min-height: 18px;
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
}

@media screen and (max-width: 1024px) {

  /* стили для планшета в альбомной ориентации */
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {

  /* стили для планшета */
  .footer {
    max-width: 720px;
    padding: 88px 0 24px 0;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    padding: 64px 0 24px 0;
    margin: 0 0 0 0;
    min-height: 310px;
    width: min-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
  }
}