.footer {
  padding: 92px 0 24px 0;
  /* margin: 0 0 0 0; */
  margin: auto;
  background-color: yellow;
  width: 1184px;
  height: 18px;
  display: grid;

  grid-template-columns: repeat(5, min-content) 1fr;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 64px 0 24px 0;
    margin: 0 0 0 0;
    min-height: 310px;
    width: min-content;
    /* align-content: start; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
  }
}