.place__website {
  margin: 0 0 0 0;
  padding: 0 0 48px 0;
  max-width: 456px;
  min-height: 46px;
  align-self: end;
  grid-area: place__website;
}


@media screen and (max-width: 768px) {

  /* стили для планшета */
  .place__website {
    max-width: 352px;
    padding: 0 0 48px 0;
  }
}

@media screen and (max-width: 590px) {
  .place__website {
    min-height: 46px;
    max-width: 288px;
    justify-self: start;
    padding: 32px 16px;
  }
}